

	{{#each inviteMate.bandMates as |bandMate|}}
    <div class="postinvite">
    	<div class="light">
		 	  {{bandMate.name}}
			</div>
		 	{{bandMate.band}}
		  {{bandMate.date}}
		</div>
	{{/each}}

