<p>
  <form>
    {{input value=userEmail placeholder="Email"}}<br>
    {{input type="password" value=userPassword placeholder="Password"}}<br>
    <button {{action "login"}}> Login </button>
  </form>
</p>
