<div class="postlogin">
  <form>
    <div class="form-group">
    {{input value=userEmail placeholder="Email"}}
    </div>
    <div class="form-group">
    {{input type="password" value=userPassword placeholder="Password"}}
    </div>
    <button class="btn btn-danger"{{action "login"}}> Login </button>
  </form>
</div>
