<h2>Your Inbox</h2>
{{#each user.sent as |sent|}}
Message from: {{#link-to 'user' sent.sender.id}}{{sent.sender.name}}{{/link-to}}
<p>{{sent.body}}</p>
{{/each}}



<h2>Your Sent Messages</h2>
{{#each user.inbox as |message|}}
<h5>{{message.recipient.name}}</h5>
  <p>{{message.body}}</p>
{{/each}}
