<div>
  <form>
    <div class="form-group">
     <label for="name">Name</label>
     {{input value=name id="name"}}
    </div>

    <div class="form-group">
      <label for="image">image</label>
      {{input value=image id="image"}}
    </div>

    <button {{action 'saveUser'}}>Create New User</button>
 </form>
</div>
