{{#each sortedShows as |show|}}
  <div class="post">
  	<img src={{show.image}}>
    <span class="showlink">
      {{#link-to 'show' show.id}}
      {{show.band}}
      {{show.date}}
      {{/link-to}}
    </span>
  </div>
{{/each}}
