body {
  height: 100%;
  font-family: 'Kreon', serif;
  background-image: url("http://www.skotcher.com/wall/f300b886a001ea4237a18522a7f91d51/amp-amplifier-bw-knobs-macro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.light {
  color: #cc0000;
}

img {
  max-width: 200px;
}

a {
  color: #215c5c;
  text-decoration: none !important;
}

footer {
  text-align: center;
  margin-top: 150px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;;
  color: #cc0000 !important;
}

.navbar-brand:hover{
  color: black !important;
}

.jumbotron {
  font-family: 'Permanent Marker', cursive;
  background-image: url("https://feelgoodmusicent.files.wordpress.com/2013/05/concert-smoke-stage-audience-applause-the-darkness-banner.jpg");
  text-align: center;
  height:250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:20px;
  padding-bottom:5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.post {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  max-width: 350px;
}

.matchTile img {
  width: 150px;
  height: 150px;
}
