@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  height: 100%;
  font-family: 'Open Sans', serif;
}

.title {
  font-family: 'Open Sans', cursive;
  color: #cc0000;
}

.main {
  color: #FFED7A;
}

.subhead {
  color: white;
}

.light {
  color: #cc0000;
}

.white {
  color: #f2f2f2;
}

.green {
  color: #5dd7b4;
}

a {
  color: #215c5c;
  text-decoration: none !important;
}

a:hover {
  color: #5dd7b4;
}

footer {
  text-align: center;
  margin-top: 150px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #cc0000 !important;
}

.submission {
  width: 190px;
  height: 190px;
}

.navbar-brand:hover{
  color: black !important;
}

.navbar {
  padding-bottom:13px;
}

.post {
  padding: 15px;
  margin: 5px;
  width: 350px;
  height: 100px;
  float: left;
}

.post img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.showlink {
  font-size: 20px;
}

.postdetail {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: 350px;
  height: auto;
  float: left;
}

.postinvite {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: 50%;
  height: auto;
  float: left;
}

.postuser {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: auto;
  height: auto;
  float: left;
}

.postlogin {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: 200px;
  height: auto;
  float: left;
}

.postadmin {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: 300px;
  height: auto;
  float: left;
}

.postsignup {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: 300px;
  height: auto;
  float: left;
}

.matchTile img {
  width: 150px;
  height: 150px;
}

.attendees {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  width: 185px;
  height: auto;
  float: left;
}

.inbox {
  background:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
}
