<div class="jumbotron">
  <div class="container">
  <div class= "main">
    <h1>Bandmates</h1>
  </div>
  <div class="white">
   <h3>Your Shows, Your People</h3>
  </div>
</div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      {{#link-to 'index'}}<a class="navbar-brand"><button class="btn">HOME</button></a>{{/link-to}}

      {{#if session.isAuthenticated}}

        <a class="navbar-brand"><button class="btn"{{action 'logout'}}>LOGOUT</button></a>

      {{else}}

        {{#link-to 'new'}}<a class="navbar-brand"><button class="btn">SIGN-UP</button></a>{{/link-to}}
        {{#link-to 'login'}}<a class="navbar-brand"><button class="btn">SIGN IN</button></a>{{/link-to}}

      {{/if}}

        {{#link-to 'invited'}}<a class="navbar-brand"><button class="btn">PENDING INVITES</button></a>{{/link-to}}

      {{log session.currentUser}}

    </div>
    <div class="pull-right">
      {{#link-to 'admin'}}<a class="navbar-brand"><button class="btn">ADMIN</button></a>{{/link-to}}
    </div>
  </div>
</nav>
	<div class="container">
		{{outlet}}
	</div>
<div class="light">
  <footer>&#169; Veronica, Blake, Mike, and Marika</footer>
</div>
