<nav class="navbar navbar-default">
  <h2><a href="/">Bandmates</a></h2>
</nav>
<<<<<<< HEAD
=======

>>>>>>> 73d380612754764e5c25d05858faa22ad483a368

{{outlet}}


<footer>&#169; Veronica, Blake, Mike, and Marika</footer>
