<nav class="navbar navbar-default">
  <h2><a href="/">Bandmates</a></h2>
</nav>
<<<<<<< HEAD
=======

>>>>>>> 4a2ff8f24940d35471a8a710ade4266fc49c5617

{{outlet}}


<footer>&#169; Veronica, Blake, Mike, and Marika</footer>
