<div class="jumbotron">
  <div class="container">
  <h1>Bandmates</h1>
  <div class="light">
   <h3>Your Shows, Your People</h3>
  </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    {{#link-to 'index'}}<a class="navbar-brand">HOME</a>{{/link-to}}
 			{{#link-to 'new'}}<a class="navbar-brand">SIGN-UP</a>{{/link-to}}
    </div>
  </div>
</nav>
	<div class="container">
		<div class="post">
			{{outlet}}
		</div>
	</div>
<div class="light">
  <footer>&#169; Veronica, Blake, Mike, and Marika</footer>
</div>
