<nav class="navbar navbar-default">
  <h2><a href="/">Bandmates</a></h2>
  <div class="pull-right">
    {{#link-to 'new'}}Sign Up{{/link-to}}
  </div>
</nav>

{{outlet}}

<footer>&#169; Veronica, Blake, Mike, and Marika</footer>
