<div class="container">
  <div class="title">
    <center><h3>Hey, {{model.user.name}}!</h3>
    <p>Here are some upcoming shows in your area.</p></center>
  </div>
  {{show-list model=model.shows}}
</div>
