<div class="white">
  <h3>Show Details:</h3>
</div>
{{show-detail show=model.show}}

<hr/>

<div class="attendees">
  {{#each model.attendees as |attendee|}}
    {{match-tile match=attendee}}
  {{/each}}
</div>
